/* .search__box{
  width: 80%;
  margin: auto;
  padding: 10px;
  margin: top;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.search__box .search__box--input{
  width: 80%;
  padding: 10px;
  outline: none;
}
.search__box .search__box--btn{
  background-color: rgb(122, 70, 243);
  padding: 10px;
  color: rgb(255, 255, 255);
  width: 20%;
  border: 2px solid darkgoldenrod;
}

.main__content{
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}
.main__content .main__content--grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.main__content .main__content--grid img{
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
} */


/* Estilos base */
.search__box {
  width: 80%;
  margin: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.search__box .search__box--input {
  width: 80%;
  padding: 10px;
  outline: none;
}

.search__box .search__box--btn {
  background-color: rgb(122, 70, 243);
  padding: 10px;
  color: rgb(255, 255, 255);
  width: 20%;
  border: 2px solid darkgoldenrod;
}

.main__content {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.main__content .main__content--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cambiado para hacer que las columnas sean flexibles */
  gap: 1rem;
}

.main__content .main__content--grid img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
}

/* Media query para tamaños de pantalla pequeños */
@media screen and (max-width: 768px) {
  .search__box {
    width: 100%; /* Cambiado para ocupar todo el ancho disponible */
  }
  
  .search__box .search__box--input {
    width: 70%; /* Cambiado para ocupar un poco menos del ancho total */
  }
  
  .search__box .search__box--btn {
    width: 30%; /* Cambiado para ocupar un poco más del ancho total */
  }
  
  .main__content {
    width: 100%; /* Cambiado para ocupar todo el ancho disponible */
  }
}
